html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main, header, footer, aside{
    display: block;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    background-color: #F5F7FF;
}
/*header*/
/*sidebar*/
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #fff;
}
.sidebar-logo{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 32px 0;
    border-bottom: 2px solid #F5F7FF;
}
/*sidebar menu*/
.sidebar-menu{
    width: 240px;
    margin: 49px 0;
}
.sidebar-menu__list-item{
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #fff;
}
.sidebar-menu__list-item_active,
.sidebar-menu__list-item:hover{
    background-color: #F5F7FF;
}
.sidebar-menu__list-item:not(:last-child){
    margin-bottom: 10px;
}
.sidebar-menu__link{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}
.sidebar-menu__link-icon{
    width: 24px;
    margin-right: 10px;
}
.sidebar-menu__link-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1062AA;
}
.sidebar-menu__list-item_active .sidebar-menu__link-text{
    color: #333333;
}
.sidebar-menu__link-arrow{
    margin-left: auto;
}
/*sidebar socials*/
.sidebar-socials{
    width: 200px;
    margin-top: auto;
    margin-bottom: 50px;
}
.sidebar-socials__title{
    margin-left: 3px;
    margin-bottom: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
.sidebar-socials__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-socials__item svg{
    fill: #1062AA;
}
.sidebar-socials__item:hover svg{
    fill: #00ADEE;
}
/*content*/
.inner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 0 auto;
    min-height: 1px;
}
.content{
    flex: 1 0 auto;
    min-height: 1px;
    padding: 0 45px;
}
/*footer*/
.footer{
    margin: 0 45px;
    padding: 43px 0 47px 0;
    border-top: 1px solid rgba(129, 133, 156, 0.3);
}
.footer-menu{
    display: flex;
    align-items: center;
}
.footer-menu__link{
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
}