html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main, header, footer, aside{
    display: block;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    background-color: #F5F7FF;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #1062AA;
}
::-webkit-scrollbar-thumb {
    background: #FFE01B;
}
::-webkit-scrollbar-thumb:hover {
    background: #00ADEE;
}
/*header*/
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1062AA;
}
.header-menu{
    display: flex;
    flex-wrap: wrap;
}
.header-menu__item{
    position: relative;
}
.header-menu__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    padding: 15px;
    background-color: #1062AA;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #EBF0FF;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.header-menu__link:hover{
    background-color: #FFE01B;
    color: #333333;
}
.header-menu__hint{
    position: absolute;
    top: 50%;
    left: 100%;
    margin: -12px 0 0 -12px;
    z-index: 2;
    cursor: help;
}
.header-menu__hint-icon{
    width: 24px;
    height: 24px;
}
.header-menu__hint-card{
    display: none;
    width: 126px;
    margin-top: 5px;
    padding: 6px 12px 7px 12px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(16, 98, 170, 0.2);
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
    font-size: 12px;
    line-height: 20px;
}
.header-menu__hint:hover .header-menu__hint-card{
    display: block;
}
.header-menu__hint-text{
    color: #81859C;
}
.header-menu__hint-link{
    display: flex;
    align-items: center;
    color: #00ADEE;
}
.header-menu__hint-link-icon{
    margin-left: 7px;
}
/*sidebar*/
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #fff;
    z-index: 99;
}
.sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    padding: 0 15px;
    border-bottom: 2px solid #F5F7FF;
}
/*sidebar menu*/
.sidebar-menu{
    width: 240px;
    height: calc(100% - 250px);
    margin: 40px 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.sidebar-menu__list-item{
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #fff;
}
.sidebar-menu__list-item_active,
.sidebar-menu__list-item:hover{
    background-color: #F5F7FF;
}
.sidebar-menu__list-item:not(:last-child){
    margin-bottom: 10px;
}
.sidebar-menu__link{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}
.sidebar-menu__link-icon{
    width: 24px;
    margin-right: 10px;
}
.sidebar-menu__link-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1062AA;
}
.sidebar-menu__list-item_active .sidebar-menu__link-text{
    color: #333333;
}
.sidebar-menu__link-arrow{
    margin-left: auto;
    transition: all 0.25s;
}
.sidebar-menu__list-item_active .sidebar-menu__link-arrow{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.sidebar-submenu{
    display: none;
    margin-left: 54px;
    padding: 2px 0 6px 0;
}
.sidebar-submenu__item{
    margin-bottom: 13px;
}
.sidebar-submenu__link{
    display: flex;
}
.sidebar-submenu__link-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 7px;
}
.sidebar-submenu__link-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1062AA;
}
/*sidebar socials*/
.sidebar-socials{
    width: 178px;
    margin-top: auto;
    margin-bottom: 30px;
}
.sidebar-socials__title{
    margin-bottom: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
.sidebar-socials__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-socials__item svg{
    fill: #1062AA;
}
.sidebar-socials__item:hover svg{
    fill: #00ADEE;
}
/*content*/
.inner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 300px;
}
.content{
    flex: 1;
    min-width: 1px;
    min-height: 1px;
    padding: 0 45px;
}
/*breadcrumbs*/
.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
}
.breadcrumbs__item{
    position: relative;
    font-size: 12px;
    line-height: 14px;
}
.breadcrumbs__item:not(:last-child) {
    margin-right: 12px;
    padding-right: 17px;
}
.breadcrumbs__item:not(:last-child):after {
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    width: 5px;
    height: 9px;
    background: transparent url(../img/general/breadcrumbs-arrow.svg) center center no-repeat;
}
.breadcrumbs__current{
    color: #81859C;
}
/*footer*/
.footer{
    margin: 0 45px;
    padding: 24px 0 27px 0;
    border-top: 1px solid rgba(129, 133, 156, 0.3);
}
.footer-menu{
    display: flex;
    align-items: center;
}
.footer-menu__link{
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
}