html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main, header, footer, aside{
    display: block;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    background-color: #F5F7FF;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #F5F7FF;
}
::-webkit-scrollbar-thumb {
    background: #81859C;
}
::-webkit-scrollbar-thumb:hover {
    background: #00ADEE;
}
.container{
    width: 100%;
    max-width: 764px;
}
.container-m{
    width: 100%;
    max-width: 784px;
}
.container-l{
    width: 100%;
    max-width: 940px;
}
.box{
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(16, 98, 170, 0.2);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    overflow: hidden;
}
/*header*/
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1062AA;
    font-family: 'Montserrat', sans-serif;
}
.header-menu{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-right: auto;
}
.header-menu__item{
    position: relative;
    width: 100px;
    min-height: 80px;
}
.header-menu__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #1062AA;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #EBF0FF;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.header-menu__link:hover{
    background-color: #FFE01B;
    color: #333333;
}
.header-menu__link_active,
.header-menu__link_active:hover{
    background-color: #FFC145;
    color: #333333;
}
.header-menu__hint{
    position: absolute;
    top: 50%;
    left: 100%;
    margin: -12px 0 0 -12px;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    cursor: help;
}
.header-menu__hint-icon{
    width: 24px;
    height: 24px;
}
.header-menu__hint-card{
    display: none;
    width: 126px;
    margin-top: 5px;
    padding: 6px 12px 7px 12px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(16, 98, 170, 0.2);
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
    font-size: 12px;
    line-height: 20px;
}
.header-menu__hint:hover .header-menu__hint-card{
    display: block;
}
.header-menu__hint-text{
    color: #81859C;
}
.header-menu__hint-link{
    display: flex;
    align-items: center;
    color: #00ADEE;
}
.header-menu__hint-link-icon{
    margin-left: 7px;
}

.header-state{
    position: relative;
    margin-left: 28px;
    padding: 15px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}
.header-state:before,
.header-state:after{
    content: "";
    position: absolute;
    top: 50%;
    width: 1px;
    height: 32px;
    margin-top: -16px;
    background-color: #F5F7FF;
}
.header-state:before{
    left: 0;
}
.header-state:after{
    right: 0;
}
.header-state__table{
    display: table;
}
.header-state__table-row{
    display: table-row;
}
.header-state__table-cell{
    display: table-cell;
    vertical-align: middle;
}
.header-state__table-cell:nth-child(1){
    padding-right: 8px;
}
.header-state__table-cell:nth-child(3){
    padding-left: 8px;
}
.header-state__label{
    text-align: right;
}
.header-state__value{
    font-weight: 500;
    color: #FFC145;
}
.header-state__link{
    font-weight: 500;
    color: #00ADEE;
}

.header-notifications{
    position: relative;
    margin-left: 28px;
}
.header-notifications__icon{
    position: relative;
    cursor: pointer;
}
.header-notifications__count{
    position: absolute;
    top: -2px;
    left: 14px;
    min-width: 14px;
    height: 14px;
    padding: 0 4px;
    background-color: #FFC145;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.2px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #333333;
}
.header-notifications__list{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 330px;
    margin-top: 5px;
    background-color: #fff;
    -webkit-border-radius: 12px 0 12px 12px;
    -moz-border-radius: 12px 0 12px 12px;
    border-radius: 12px 0 12px 12px;
    box-shadow: -4px 4px 20px rgba(16, 98, 170, 0.2);
    overflow: hidden;
    z-index: 9;
}
.header-notifications__list-title{
    padding: 11px 30px 9px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #1062AA;
    background-color: #F5F7FF;
}
.header-notifications__list-item{
    display: block;
    margin: 0 30px;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.header-notifications__list-item:not(:last-child){
    border-bottom: 2px solid #EBF0FF;
}
.header-lang{
    position: relative;
    margin-left: 28px;
    font-family: 'Roboto', sans-serif;
}
.header-lang__switch{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-lang__switch-text{
    margin: 0 6px;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}
.header-lang__switch-arrow{
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.header-lang__switch_active .header-lang__switch-arrow{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.header-lang__select{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100px;
    margin-top: 10px;
    padding: 2px 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #E6E7EB;
    z-index: 9;
}
.header-lang__item{
    padding: 4px 12px;
}
.header-lang__link{
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.header-lang__link_current,
.header-lang__link:hover{
    color: #81859C;
    text-decoration: none;
}
.header-user{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 28px;
    margin-right: 32px;
}
.header-user-profile__avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #00ADEE;
    overflow: hidden;
    cursor: pointer;
}
.header-user-profile__avatar img{
    border: 2px solid #1062AA;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.header-user-menu{
    display: none;
    position: absolute;
    top: 100%;
    right: -32px;
    width: 100%;
    min-width: 260px;
    padding: 0 30px;
    background-color: #00ADEE;
    -webkit-border-radius: 0 0 0 20px;
    -moz-border-radius: 0 0 0 20px;
    border-radius: 0 0 0 20px;
    overflow: hidden;
    z-index: 9;
}
.header-user-menu__items{
    padding: 24px 10px;
    border-top: 1px solid #F5F7FF;
}
.header-user-menu__item{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-user-menu__item:not(:first-child){
    margin-top: 20px;
}
.header-user-menu__icon{
    width: 24px;
    min-width: 24px;
    margin-left: 24px;
}
.header-user-menu__link,
.header-user-menu__link:hover{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    text-align: right;
}
/*sidebar*/
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    background-color: #fff;
    z-index: 99;
}
.sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0 15px;
    border-bottom: 2px solid #F5F7FF;
}
/*sidebar menu*/
.sidebar-menu{
    width: 100%;
    height: calc(100% - 250px);
    margin: 40px 0;
    padding: 0 15px;
    overflow-x: hidden;
    overflow-y: auto;
}
.sidebar-menu__list-item{
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #fff;
}
.sidebar-menu__list-item_active,
.sidebar-menu__list-item:hover{
    background-color: #F5F7FF;
}
.sidebar-menu__list-item:not(:last-child){
    margin-bottom: 10px;
}
.sidebar-menu__link{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}
.sidebar-menu__link-icon{
    width: 24px;
    margin-right: 10px;
}
.sidebar-menu__link-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1062AA;
}
.sidebar-menu__list-item_active .sidebar-menu__link-text{
    color: #333333;
}
.sidebar-menu__link-arrow{
    margin-left: auto;
    transition: all 0.25s;
}
.sidebar-menu__list-item_active .sidebar-menu__link-arrow{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.sidebar-submenu{
    display: none;
    margin-left: 54px;
    padding: 2px 0 6px 0;
}
.sidebar-submenu__item{
    margin-bottom: 13px;
}
.sidebar-submenu__link{
    display: flex;
}
.sidebar-submenu__link-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 7px;
}
.sidebar-submenu__link-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1062AA;
}
/*sidebar socials*/
.sidebar-socials{
    width: 178px;
    margin-top: auto;
    margin-bottom: 30px;
}
.sidebar-socials__title{
    margin-bottom: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
.sidebar-socials__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-socials__item svg{
    fill: #1062AA;
}
.sidebar-socials__item:hover svg{
    fill: #00ADEE;
}
/*content*/
.inner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 270px;
}
.content{
    flex: 1 1 auto;
    min-width: 1px;
    min-height: 1px;
    padding: 0 45px;
}
/*breadcrumbs*/
.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}
.breadcrumbs__item{
    position: relative;
    font-size: 12px;
    line-height: 14px;
}
.breadcrumbs__item:not(:last-child) {
    margin-right: 12px;
    padding-right: 17px;
}
.breadcrumbs__item:not(:last-child):after {
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    width: 5px;
    height: 9px;
    background: transparent url(../img/general/breadcrumbs-arrow.svg) center center no-repeat;
}
.breadcrumbs__current{
    color: #81859C;
}
/*footer*/
.footer{
    margin: 0 45px;
    padding: 24px 0 27px 0;
    border-top: 1px solid rgba(129, 133, 156, 0.3);
}
.footer-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-menu__link{
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
}
/*support btn*/
.btn-support{
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: #00ADEE;
    border-top-left-radius: 14px;
    z-index: 2;
}
.btn-support__icon{
    margin-right: 7px;
}
.btn-support__text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

@media all and (max-width: 1600px){
    /*sidebar*/
    .sidebar{
        left: -100%;
        width: 100%;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
    }
    .sidebar_opened{
        left: 0;
    }
    /*header*/
    .header{
        justify-content: center;
    }
    .header-notifications,
    .header-lang,
    .header-user{
        margin-left: 15px;
    }
    .header-menu, .header-user{
        height: auto;
    }
    .header-menu__item{
        width: 25%;
    }
    .header-menu__hint{
        display: none;
    }
    .header-state{
        order: 2;
    }
    /*inner*/
    .inner{
        padding-left: 0;
    }
    .content{
        padding: 0 15px;
    }
}