/*General*/
table{
    border-collapse: collapse;
}
button, input, textarea, select, a{
    outline: none;
}
input[type="checkbox"],
input[type="radio"],
input[type="file"]{
    display: none;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,pre{
    margin: 0;
}
h1{
    font-size: 30px;
    line-height: 46px;
}
h2{
    font-size: 26px;
    line-height: 40px;
}
h3{
    font-size: 22px;
    line-height: 28px;
}
h4{
    font-size: 18px;
    line-height: 28px;
}
h5{
    font-size: 16px;
    line-height: 26px;
}
h6{
    font-size: 14px;
    line-height: 24px;
}
.fw-m{
    font-weight: 500;
}
p{
    font-size: 16px;
    line-height: 24px;
}
button, input, textarea, select{
    padding: 0;
    border: none;
    background-color: transparent;
}
img, svg{
    display: block;
    max-width: 100%;
}
a{
    color: #1062AA;
    text-decoration: none;
}
a:hover{
    color: #00ADEE;
}
button, input, textarea, select{
    padding: 0;
    outline: none;
    border: none;
}
a, svg, button{
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
ul,
ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*typography lists*/
.typography ul > li,
.typography ol > li{
    position: relative;
    font-size: 14px;
    line-height: 24px;
}
.typography ul > li{
    padding-left: 12px;
}
.typography ul > li:before,
.typography ol > li:before{
    content: "";
    position: absolute;
    left: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.typography ul > li:before{
    top: 9px;
    width: 5px;
    height: 5px;
    background-color: #1062AA;
}
.typography li{
    margin: 8px 0;
}
.typography ol{
    counter-reset: my-counter;
}
.typography ol > li{
    padding-left: 32px;
    counter-increment: my-counter;
}
.typography ol > li:before{
    content: counter(my-counter);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2px;
    width: 20px;
    height: 20px;
    border: 1px solid #1062AA;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #1062AA;
}
.typography li > ul,
.typography li > ol{
    margin-top: 8px;
}
/*buttons*/
.btn-s, .btn-xs{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.btn-xs{
    min-width: 86px;
}
.btn-s{
    min-width: 134px;
}
.btn-orange{
    background-color: #FFC145;
    color: #333333;
}
.btn-orange:hover{
    background-color: #FFE01B;
    color: #333333;
}
.btn-blue{
    background-color: #00ADEE;
    color: #ffffff;
}
.btn-blue:hover{
    background-color: #00ADEE;
    color: #333333;
}
.btn-empty-blue{
    color: #333333;
    border: 1px solid #1062AA;
}
.btn-empty-blue:hover{
    background-color: #1062AA;
    color: #ffffff;
}
.btn-icon-right span{
    margin-right: 7px;
}
/*regular checkbox*/
.checkbox-checkmark{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #1062AA;
}
.checkbox-inp:checked + .checkbox-checkmark{
    background-color: #1062AA;
}
/*regular radio button*/
.radio-checkmark{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #1062AA;
}
.radio-inp:checked + .radio-checkmark:before{
    content: '';
    width: 12px;
    height: 12px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #00ADEE;
}
/*regular switch*/
.switch-checkmark{
    position: relative;
    display: flex;
    width: 35px;
    height: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #EBF0FF;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
}
.switch-checkmark:before{
    position: absolute;
    content: '';
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(16, 98, 170, 0.15);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.switch-inp:checked + .switch-checkmark{
    background-color: #00ADEE;
}
.switch-inp:checked + .switch-checkmark:before{
    left: 16px;
    box-shadow: 0 1px 1px rgba(16, 98, 170, 0.5);
}
/*js dd*/
.js-dd-content{
    display: none;
}
/*link with arrow*/
.link-w-arrow{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: #00ADEE;
}
.link-w-arrow svg{
    margin-left: 7px;
    fill: #00ADEE;
}
.link-w-arrow:hover{
    color: #1062AA;
}
.link-w-arrow:hover svg{
    fill: #1062AA;
}